.header{
    margin: 0 0;
}


.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1% 0 1% 0;
    width: 90%;
}

.mainname{
    font-size: 2em;
    font-weight: bold;
}

.mainlogo{
    margin: 0;
}

.header-right{
    margin-right: 8%;
    width: 130%;
}

.header-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120%;
    /* background-color: green; */
}

@media only screen and (max-width:768px){
    .header-list{
        display: none;
    }
    .menu{
        display: none;
    }
}
