/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

/* General */
body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin: 0;
  font-size: 1.375em;
  line-height: 1;
}

/* Layout */
.herbspage {
  width: 100vw;
  height: 100vh;
  min-height: 43.75em;
  overflow: hidden;
  /* background-color: #4fa14f; */
}

/* Tabs */
.tabs-controls {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 56.25em;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 0 3.125em 0 ;
  list-style-type: none;
  overflow-x:scroll;
}

.tabs-controls__link {
  position: relative;
  display: block;
  padding: 1em 2em;
  font-size: 1.25em;
  font-weight: 700;
  color: #423E37;
  text-transform: uppercase;
  text-decoration: none;
}

.tabs-controls__link:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 0;
  height: 0.25em;
  background-color: #423E37;
  border-radius: 0.125em;
  margin: auto;
  content: '';
  transition: width 0.4s;
}

.tabs-controls__link--active:after {
  width: 100%;
}

/* Cards */
.cards-container {
  position: relative;
  z-index: 1;
  width: 31.25em;
  height: 55%;
  margin: 5% 45% 0 auto;
  font-weight: bold;
  
}

.herb-header{
  font-size: 1.8em;
  margin-top: -5%;
  margin: 0 auto;
}

.herb-content{
  color: rgb(179, 179, 179);
  text-align: justify;
  font-size: 1.3em;
}

.card {
  position: absolute;
  width: 52.25em;
  height: 18.75em;
  background-color: #EDEBD7;
  border: 0.0625em solid #423E37;
  box-shadow: 0.5625em 0.6875em 0.1875em 0em rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 2.5em;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.3s, opacity 0.2s;
  margin: 0;
}

.card.hidden {
  z-index: 100;
  background-color: #fff;
  color: #fff;
  opacity: 0;
  transition: color 0.5s, background-color 0.5s, transform 1s, opacity 0.2s 0.4s;
  width: 10%;

  h1 {
    color: #fff;
    transition: color 0.5s;
  }
}

/* Add a media query for screens with a maximum width of 768px */
@media only screen and(max-width:376px) {
  .herbspage{
    display: none;
  }
}
