@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  /* line-height: 2.2; */
}

h1,
h2,
h3 {
  font-weight: 600;
  /* margin-bottom: 0.625em; */
}

.container {
  width: 100%;
  /* max-width: 93.75em; */
  /* margin: 0 auto; */
  /* padding: 0  1.25em; */
  text-align: center;
}

.header {
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.0625em solid #e6e6e6;
  margin-bottom: 3.75em;
  margin-top: 3.125em; */
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625em;
}

.goal {
  background-color: #f4f4f4;
  margin: 0.625em 0;
  padding:  1.25em 0 0.625em;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 0.625em;
  right: 10.3125em;
  cursor: pointer;
  border: none;
  background: none;
}

.heading{
  margin-top: 6%;
  margin-bottom: 2%;
}

.form,
.content {
  width: 30%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 0.625em;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.625em;
  border: 0.0625em solid #e6e6e6;
  border-radius: 0.3125em;
  margin-bottom: 0.625em;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 0.3125em 0.1875em;
}

.btn {
  padding: 0.625em  1.25em;
  border: 0.0625em solid #000;
  border-radius: 0.3125em;
  background: #000;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 0.5em;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom:  1.25em;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 5.875em;
  height: 5.875em;
  border: 0.5em solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .form{
    width: 60%;
  }

  .heading{
    margin-top: 10%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
